@page "/"
@rendermode InteractiveServer
@using Logic
@using Logic.Requests
@inject IConfiguration configuration
@inject HttpClient HttpClient

<PageTitle>Chat App</PageTitle>

<div>
    <button @onclick="GetAllMessages" class="refresh-button">Refresh Messages</button>
</div>

<div class="message-form">
    <label for="MessageUsername">Who are you?</label>
    <input id="MessageUsername" type="text" @bind="MessageUsername" class="input-field" />

    <label for="MessageContent">What is the content of your message?</label>
    <input id="MessageContent" type="text" @bind="MessageContent" class="input-field" />

    <button @onclick="PostMessage" class="submit-button">Submit</button>
</div>


@foreach (var message in Messages)
{
    <div class="message-container">
        <p class="username">@message.Username</p>
        <p class="content">@message.Content</p>
        <p class="timestamp">@message.TimePosted (Lamport: @message.LamportNumber)</p>
        <p class="process-id">Process ID: @message.ProcessId</p>
    </div>
}
@code {
    private string ApiUri = "";
    public List<Message> Messages = new();

    public string MessageContent = "";
    public string MessageUsername = "";
    private string ProcessId = Guid.NewGuid().ToString();
    private int CurrentLamportNumber { get; set; } = 0;

    protected override async Task OnInitializedAsync()
    {
        ApiUri = configuration["api"] ?? throw new Exception("API URI not found");
        await GetAllMessages();
    }

    public async Task GetAllMessages()
    {
        try
        {
            var result = await HttpClient.GetFromJsonAsync<List<Message>>($"{ApiUri}/message/getall");

            if (result is not null)
            {
                Messages = result.OrderBy(x => x.LamportNumber).ThenBy(x => x.ProcessId).ToList();
                CurrentLamportNumber = Math.Max(Messages.Max(x => x.LamportNumber), CurrentLamportNumber);
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching messages: {ex.Message}");
        }
    }

    public async Task PostMessage()
    {
        if (string.IsNullOrWhiteSpace(MessageUsername) || string.IsNullOrWhiteSpace(MessageContent))
        {
            Console.WriteLine("Username or message content cannot be empty.");
            return;
        }

        var addMessageRequest = new AddMessageRequest
        {
            Content = MessageContent,
            Username = MessageUsername,
            LamportNumber = ++CurrentLamportNumber,
            ProcessId = ProcessId
        };

        try
        {
            var result = await HttpClient.PostAsJsonAsync($"{ApiUri}/message/post", addMessageRequest);

            if (result.IsSuccessStatusCode)
            {
                MessageUsername = string.Empty;
                MessageContent = string.Empty;
            }
            else
            {
                Console.WriteLine($"Error posting message: {result.StatusCode}");
            }
            await GetAllMessages();

        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error posting message: {ex.Message}");
        }
    }
}
